@default-color: #00000038;

body {
    padding: 0;
    margin: 0;
}

.header {
    height: 60px;
    background: #007eff;
    box-shadow: 0px 5px 5px @default-color;
}

    .header img {
        width: 40px;
        margin: 10px;
        float: left;
    }

    .header h2 {
        width: 40px;
        margin: 10px;
        float: left;
    }

    .header p {
        width: 40px;
        margin: 10px;
        float: left;
    }

    .header .search {
        margin-top: 10px;
        height: 40px;
        width: 50%;
        border: none;
        padding: 0px 10px;
    }

    .header .basket {
        width: 20px;
        margin: 20px;
        float: right;
    }
.item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

    .item img {
        max-width: 200px;
        float: left;
        margin-right: 20px;
    }

.data {
    float: left;
}

.basket {
    float: right;
    width: 120px;
}

    .basket .button {
        height: 30px;
        background: #ffc300;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        border-radius: 5px;
    }

.count {
    display: none;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .count .min, .count .max {
        width: 30px;
        height: 30px;
        background: #9b9b9b;
        color: white;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        float: left;
        font-weight: bold;
    }

    .count .text {
        width: 58px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        float: left;
        background: white;
    }

.min {
    border-radius: 5px 0 0 5px;
}

.max {
    border-radius: 0 5px 5px 0;
}